<!DOCTYPE html>
<html>
<head>
	<title>{{{title}}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/lister.css' />
    <link rel='stylesheet' href='/stylesheets/subscribe.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.4.0/dist/js/tether.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      	<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
          		</button>
              <a class="navbar-brand" id="_logo" href="/"><img src="/images/DL-logo_long.png" class="img-responsive"></a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a class="_menu_btn" href="/listers">Public Listers</a></li>
                {{#if user}}
                    <li><a href="/users/logout" class="">Log Out</a></li>
                {{else}}      
                    <li><a href="/users/login" class="">Log In</a></li>
                {{/if}}
              </ul>
              

	            

	        </div>
      	</div>
    </nav>

    <div class="jumbotron">
      	<div class="container">
      		{{#if success_msg}}
      			<div class="alert alert-success">{{success_msg}}</div>
      		{{/if}}
      		{{#if error_msg}}
      			<div class="alert alert-danger">{{error_msg}}</div>
      		{{/if}}
      		{{#if error}}
      			<div class="alert alert-danger">{{error}}</div>
      		{{/if}}
	        {{{body}}}
      	</div>
    </div>

    <div class="container">
      	<footer>
            <div id="_footer_links">
                <ul class="_footer_links_left">
                    <label>DigiLister</label>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <ul class="_footer_links_right">
                    <label>Service Connections / APIs </label>
                    <li>
                        <a href="https://www.cannabisreports.com">Cannabis Reports</a>
                    </li>
                </ul>
            </div>
            <br />
            <br />
            <br />
            <p id="_copy_r">&copy; 2016 DigiLister - Alpha Build 0.0.5</p>
      	    {{!-- <div id="log"></div>  --}}
        </footer>
    </div> 
    {{!-- <script src="/javascripts/debug.js"></script> --}}
</body>
</html>